<!DOCTYPE HTML>
<html>
  <head>
    <title>ShortURL Admin</title>
  </head>
  <body>
    <h1>Shorten</h1>
    <form method="post">
      <table>
        <tr>
          <td>URL:</td>
          <td><input type="text" name="url"> * (must include http://)</td>
        </tr>
        <tr>
          <td>Key:</td>
          <td><input type="text" name="key"></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" text="Create"></td>
        </tr>
      </table>
    </form>

    <p>* You can put in a URL and a desired key or you can just put
    a URL in and a key will be generated for you.</p>

    <br /><br />
    <h3>Existing Shortened URLs</h3>
    <table>
      <tr><th></th><th>URL</th><th></th><th>Redirects to</th></tr>
    <% @list.each do |key, value| %>
      <tr><td>* </td><td><%= "#{@baseurl}#{key}" %></td><td> =&gt; </td><td><%= value %></td></tr>
    <% end %>
    </table>
  </body>
</html>
