<!DOCTYPE HTML>
<html>
  <head>
    <title>URL Shortener Admin</title>
  </head>
  <body>
    <h1>Shorten</h1>
    <form method="post">
      URL: <input type="text" name="url"> *<br />
      Key: <input type="text" name="key"><br />
      <input type="submit" text="Create">
    </form>

    <p>* You can put in a URL and a desired key or you can just put
    a URL in and a key will be generated for you.</p>

    <ul>
    <% @list.each do |line| %>
      <li><%= line %></li>
    <% end %>
    </ul>
  </body>
</html>
